<!DOCTYPE html>
<html>
<head>
    <title>Online Bookstore</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
        <div class="brand">
            <a href="/">Online Bookstore</a>
        </div>

    <div>
    {% if session.get("user") %}

        <span style="color:white;">{{ session["user"] }}</span>

        {% if session.get("role") == "User" %}
            <a href="/cart">Cart</a>
            <a href="/orders">My Orders</a>

            {% if not is_member(session.get("user_id")) %}
                <a href="/member/register">Become a Member</a>
            {% endif %}
        {% endif %}

        {% if session.get("role") == "Admin" %}
            <a href="/admin/books">Books</a>
            <a href="/admin/users">Users</a>
            <a href="/admin/members">Members</a>
            <a href="/admin/orders">Orders</a>
        {% endif %}

        <a href="/logout">Logout</a>

    {% else %}
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    {% endif %}
    </div>
</div>

<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>
